main {
    margin: 0;
    padding: 0;
    width: 410px;
    height: 460px;
    background-color: black;
    border-radius: 30px;
    margin: 20px auto;
    padding-top: 75px;
}

.screen {
    width: 334px;
    height: 82px;
    background-color: white;
    margin: 0 auto 28px auto;
    border-radius: 3px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 62px;
    height: 62px;
    border-radius: 40px;
    font-size: 30px;
    font-weight: bold;
    margin: 0 10px 10px 0;
}

#seven,
#four,
#one,
#zero {
    margin-left: 64px;
}
