main {
    margin: 0;
    padding: 0;
    width: 410px;
    height: 510px;
    background-color: rgb(70, 69, 69);
    border-radius: 10px;
    margin: 20px auto;
    padding-top: 55px;
}

.screen {
    width: 334px;
    height: 82px;
    background-color: rgb(163, 163, 163);
    margin: 0 auto 25px auto;
    border-radius: 3px;
}

#result {
    height: 35px;
    width: 334px;
    font-size: 20px;
    background-color: rgb(180, 180, 180);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 20px;
}

#text {
    font-size: 24px;
    font-weight: bold;
    margin-left: 5px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 62px;
    height: 62px;
    border-radius: 4px;
    font-size: 30px;
    font-weight: bold;
    margin: 0 10px 10px 0;
    background-color: gray;
    border-color: gray;
}

button:hover {
    cursor: pointer;
    opacity: 70%;
}

#seven,
#four,
#one,
#zero,
#clear {
    margin-left: 66px;
}

#clear {
    background-color: rgb(223, 39, 39);
    border-color: rgb(223, 39, 39);
}

#equals {
    width: 134px;
    background-color: rgb(136, 182, 45);
    border-color: rgb(136, 182, 45);
}
